.u-section-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 371px}
.u-section-1 .u-layout-wrap-1 {margin: 83px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 325px}
.u-section-1 .u-container-layout-1 {padding: 5px 0 5px 5px}
.u-section-1 .u-image-1 {width: 275px; height: 245px; margin: 0 auto 0 0}
.u-section-1 .u-image-2 {width: 57px; height: 57px; margin: 12px auto 0 15px}
.u-section-1 .u-icon-1 {height: 40px; width: 40px; margin: -48px auto 0 87px}
.u-section-1 .u-image-3 {width: 55px; height: 55px; margin: -45px 83px 0 auto}
.u-section-1 .u-image-4 {width: 54px; height: 54px; margin: -57px 15px 0 auto}
.u-section-1 .u-layout-cell-2 {min-height: 325px}
.u-section-1 .u-container-layout-2 {padding: 30px 30px 30px 70px}
.u-section-1 .u-text-1 {font-size: 2.25rem; font-weight: 700; font-family: Arial, sans-serif; margin: 3px auto 0 0}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin: 20px -1px 0 10px}
.u-section-1 .u-image-5 {width: 253px; height: 46px; margin: -40px auto 0 0}
.u-section-1 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 36px auto 21px 0} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 233px}
.u-section-1 .u-image-1 {height: 198px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-2 {margin-top: 17px; margin-left: 9px}
.u-section-1 .u-icon-1 {margin-top: -47px; margin-left: 75px}
.u-section-1 .u-image-3 {margin-top: -48px}
.u-section-1 .u-layout-cell-2 {min-height: 233px}
.u-section-1 .u-container-layout-2 {padding-left: 15px}
.u-section-1 .u-text-2 {width: auto; margin-right: 0; margin-left: 9px}
.u-section-1 .u-line-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {height: 186px; width: 209px; margin-top: 57px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-2 {margin-top: 42px}
.u-section-1 .u-icon-1 {margin-left: 65px}
.u-section-1 .u-image-3 {margin-top: -47px; margin-right: 63px}
.u-section-1 .u-image-4 {margin-top: -56px; margin-right: 0}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding-right: 5px}
.u-section-1 .u-text-2 {margin-right: -1px; margin-left: 12px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {height: 320px; width: 320px; margin-top: 0; margin-left: 9px}
.u-section-1 .u-image-2 {margin-top: 6px}
.u-section-1 .u-icon-1 {margin-top: -48px; margin-left: 79px}
.u-section-1 .u-image-3 {margin-right: auto; margin-left: 135px}
.u-section-1 .u-image-4 {margin-top: -51px; margin-right: auto; margin-left: 206px}
.u-section-1 .u-container-layout-2 {padding-left: 10px} }

@media (max-width: 575px){ .u-section-1 .u-layout-cell-1 {min-height: 336px}
.u-section-1 .u-image-1 {height: 283px; margin-left: 0; margin-right: 0}
.u-section-1 .u-image-2 {margin-top: 9px; margin-left: 40px}
.u-section-1 .u-icon-1 {margin-left: 106px}
.u-section-1 .u-image-3 {margin-top: -48px; margin-right: 124px; margin-left: auto}
.u-section-1 .u-image-4 {margin-right: 64px}
.u-section-1 .u-layout-cell-2 {min-height: 112px}
.u-section-1 .u-text-1 {margin-top: 0}
.u-section-1 .u-text-2 {margin-right: 0; margin-left: 9px} }.u-section-2 .u-sheet-1 {min-height: 387px}
.u-section-2 .u-text-1 {text-shadow: 2px 2px 8px rgba(0,0,0,0.4); font-weight: 700; margin: 25px 460px 0 0}
.u-section-2 .u-layout-wrap-1 {margin: 0}
.u-section-2 .u-layout-cell-1 {min-height: 183px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-2 {line-height: 1.2; font-size: 1.25rem; margin: 0}
.u-section-2 .u-layout-cell-2 {min-height: 46px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 60px 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 423px}
.u-section-2 .u-text-1 {margin-right: 260px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 151px}
.u-section-2 .u-text-2 {padding-left: 1.8em}
.u-section-2 .u-layout-cell-2 {min-height: 38px}
.u-section-2 .u-line-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 249px}
.u-section-2 .u-text-1 {margin-right: 40px}
.u-section-2 .u-layout-cell-1 {min-height: 116px}
.u-section-2 .u-layout-cell-2 {min-height: 29px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 349px}
.u-section-2 .u-text-1 {margin-right: 0}
.u-section-2 .u-layout-cell-1 {min-height: 87px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 22px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-layout-cell-1 {min-height: 55px}
.u-section-2 .u-text-2 {font-size: 1.125rem}
.u-section-2 .u-layout-cell-2 {min-height: 14px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }.u-section-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 134px}
.u-section-3 .u-text-1 {text-shadow: 2px 2px 8px rgba(0,0,0,0.4); font-weight: 700; margin: 40px auto 57px 0}.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 200px}
.u-section-4 .u-layout-wrap-1 {pointer-events: auto; background-image: none; width: 1140px; margin: 0 0 1px}
.u-section-4 .u-layout-cell-1 {min-height: 231px; pointer-events: auto; background-image: none}
.u-section-4 .u-container-layout-1 {padding: 15px}
.u-section-4 .u-image-1 {height: 172px; width: 290px; margin: 0 0 0 auto}
.u-section-4 .u-layout-cell-2 {min-height: 231px; pointer-events: auto; background-image: none}
.u-section-4 .u-container-layout-2 {padding: 30px 60px}
.u-section-4 .u-text-1 {font-size: 1.25rem; font-weight: 700; margin: 0}
.u-section-4 .u-text-2 {font-size: 1.125rem; margin: 13px 0 0}
.u-section-4 .u-text-3 {font-size: 1.125rem; margin: 0}
.u-section-4 .u-text-4 {font-size: 1.125rem; margin: 0 auto 0 0}
.u-section-4 .u-line-1 {height: 3px; transform-origin: left center 0; width: 1140px; border-style: double; margin: 20px auto -21px -383px} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {min-height: 231px; width: 940px}
.u-section-4 .u-layout-cell-1 {min-height: 190px; background-position: 50% 50%}
.u-section-4 .u-image-1 {height: 140px; margin-top: 30px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-layout-cell-2 {min-height: 190px}
.u-section-4 .u-line-1 {width: 554px; margin-left: 0} }

@media (max-width: 991px){ .u-section-4 .u-layout-wrap-1 {min-height: 143px; width: 720px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-image-1 {height: 103px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-line-1 {width: 456px} }

@media (max-width: 767px){ .u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-layout-wrap-1 {width: 340px}
.u-section-4 .u-image-1 {margin-top: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-1 {font-size: 1.5}
.u-section-4 .u-line-1 {width: 320px} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 232px}
.u-section-5 .u-layout-wrap-1 {pointer-events: auto; margin: 1px auto 1px 0}
.u-section-5 .u-layout-cell-1 {min-height: 231px; pointer-events: auto}
.u-section-5 .u-container-layout-1 {padding: 15px}
.u-section-5 .u-image-1 {height: 151px; width: 290px; margin: 0 0 0 auto}
.u-section-5 .u-layout-cell-2 {min-height: 231px; pointer-events: auto}
.u-section-5 .u-container-layout-2 {padding: 30px 60px}
.u-section-5 .u-text-1 {font-size: 1.25rem; font-weight: 700; margin: 0}
.u-section-5 .u-text-2 {font-size: 1.125rem; margin: 13px 0 0}
.u-section-5 .u-text-3 {font-size: 1.125rem; margin: 0}
.u-section-5 .u-text-4 {font-size: 1.125rem; margin: 0 auto 0 0}
.u-section-5 .u-line-1 {transform-origin: left center 0; width: 1140px; border-style: double; margin: 52px auto -20px -383px} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 59px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 190px; background-position: 50% 50%}
.u-section-5 .u-image-1 {height: 121px; margin-top: 45px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-layout-cell-2 {min-height: 190px}
.u-section-5 .u-text-4 {width: 697px}
.u-section-5 .u-line-1 {width: 554px; margin-left: 0} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 248px}
.u-section-5 .u-layout-cell-1 {min-height: 146px}
.u-section-5 .u-image-1 {height: 96px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-2 {min-height: 146px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-text-4 {height: 56px}
.u-section-5 .u-line-1 {width: 456px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 538px}
.u-section-5 .u-layout-cell-1 {min-height: 386px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {height: 298px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-2 {min-height: 153px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 327px}
.u-section-5 .u-layout-cell-1 {min-height: 243px}
.u-section-5 .u-image-1 {height: 183px; margin-top: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-2 {min-height: 96px}
.u-section-5 .u-text-1 {font-size: 1.5}
.u-section-5 .u-line-1 {width: 320px} }.u-section-6 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-sheet-1 {min-height: 232px}
.u-section-6 .u-layout-wrap-1 {pointer-events: auto; margin: 1px auto 1px 0}
.u-section-6 .u-layout-cell-1 {min-height: 231px; pointer-events: auto}
.u-section-6 .u-container-layout-1 {padding: 15px}
.u-section-6 .u-image-1 {height: 151px; margin: 0 auto 0 0}
.u-section-6 .u-layout-cell-2 {min-height: 231px; pointer-events: auto}
.u-section-6 .u-container-layout-2 {padding: 30px 60px}
.u-section-6 .u-text-1 {font-size: 1.25rem; font-weight: 700; margin: 0}
.u-section-6 .u-text-2 {font-size: 1.125rem; margin: 13px 0 0}
.u-section-6 .u-text-3 {font-size: 1.125rem; margin: 0}
.u-section-6 .u-text-4 {font-size: 1.125rem; margin: 0 auto 0 0}
.u-section-6 .u-line-1 {transform-origin: left center 0; border-style: double; width: 1140px; margin: 71px auto -20px -383px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 59px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 190px; background-position: 50% 50%}
.u-section-6 .u-image-1 {height: 121px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 190px}
.u-section-6 .u-line-1 {width: 554px; margin-left: 0} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 248px}
.u-section-6 .u-layout-cell-1 {min-height: 146px}
.u-section-6 .u-image-1 {height: 89px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 146px}
.u-section-6 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-line-1 {width: 456px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 538px}
.u-section-6 .u-layout-cell-1 {min-height: 386px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-1 {height: 266px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 153px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 327px}
.u-section-6 .u-layout-cell-1 {min-height: 243px}
.u-section-6 .u-image-1 {height: 164px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 96px}
.u-section-6 .u-text-1 {font-size: 1.5}
.u-section-6 .u-line-1 {width: 320px} }.u-section-7 {margin-top: 0; margin-bottom: 0}
.u-section-7 .u-sheet-1 {min-height: 381px}
.u-section-7 .u-text-1 {text-shadow: 2px 2px 8px rgba(0,0,0,0.4); font-weight: 700; margin: 25px 460px 0 0}
.u-section-7 .u-layout-wrap-1 {margin: 0}
.u-section-7 .u-layout-cell-1 {min-height: 183px}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-text-2 {line-height: 1.2; font-size: 1.25rem; margin: 0}
.u-section-7 .u-layout-cell-2 {min-height: 46px}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-line-1 {height: 3px; transform-origin: left center 0; margin: -28px auto 25px 0} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 423px}
.u-section-7 .u-text-1 {width: 680px; margin-right: 260px}
.u-section-7 .u-layout-wrap-1 {min-height: 338px; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 151px}
.u-section-7 .u-text-2 {padding-left: 1.8em}
.u-section-7 .u-layout-cell-2 {min-height: 38px}
.u-section-7 .u-line-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 249px}
.u-section-7 .u-text-1 {margin-right: 40px}
.u-section-7 .u-layout-wrap-1 {min-height: 152px; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 116px}
.u-section-7 .u-layout-cell-2 {min-height: 29px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 349px}
.u-section-7 .u-text-1 {width: 540px; margin-right: 0}
.u-section-7 .u-layout-wrap-1 {margin-top: 20px; min-height: 139px; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 87px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-layout-cell-2 {min-height: 22px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-line-1 {margin-top: 20px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-7 .u-text-1 {width: 340px}
.u-section-7 .u-layout-cell-1 {min-height: 55px}
.u-section-7 .u-text-2 {font-size: 1.125rem}
.u-section-7 .u-layout-cell-2 {min-height: 14px}
.u-section-7 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }